<div class="container">
    <div class="row col-md-12">
        <label>Behold, All Data:</label>
    </div>
    <div class="row col-md-12">
        <div ng-if="gridFilled" ng-style="{height: height.height + 'px'}">
            <div ui-grid="gridOptions" ui-grid-edit></div>
        </div>
    </div>

</div>